<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>OAuth2 Demo</title>

<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
<!-- <meta name="description" content="" /> -->
<!-- <meta name="viewport" content="width=device-width" /> -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<base href="/" />
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/static/css/home.css}" />
</head>
<body>
	<div class="container info">
			<img th:if="${picture != null}" th:src="${picture}" class="picture"/>
		<div th:if="${username != null}">
			Logged in as: <span th:text="${username}"> </span>
		</div>
		<div th:if="${email != null}">
			<span th:text="'Email: '+${email}"> </span>
		</div>
		<div>
			<a th:href="@{/logout}"><button class="btn btn-primary">Logout</button></a>
		</div>
	</div>
</body>
</html>