<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>OAuth2 Demo</title>

<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
<!-- <meta name="description" content="" /> -->
<!-- <meta name="viewport" content="width=device-width" /> -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<base href="/" />
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/portal.css}" />
<script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>

</head>
<body ng-app="app" ng-controller="home as home">
	<div class="container logosdiv" ng-show="!home.authenticated">
		<a th:if="${googleBeanDefined}" th:href="@{/login/google}" class="logo"><img
			th:src="@{/img/google.png}" /></a> <br /> <a
			th:if="${facebookBeanDefined}" th:href="@{/login/facebook}" class="logo"><img
			th:src="@{/img/facebook.png}" /></a> <br /> <a
			th:if="${githubBeanDefined}" th:href="@{/login/github}" class="logo"><img
			th:src="@{/img/github.png}" /></a>
		<div class="logo" th:if="${ldapBeanDefined}">
			<form th:action="@{/login}" method="post" class="ldap">
				<h5 th:if="${ldapSourceName} != null" th:text="${ldapSourceName}" class="ldapTitle" /> <img
					th:if="${ldapSourceImage != null} " th:src="${ldapSourceImage}"
					class="ldapImage" />
				<br />
					<input type="text" name="username" placeholder="username" /> <br />
					<input type="password" placeholder="password" name="password" /> <br />
					<input class="submit" type="submit" value="Sign In" /></form>
		</div>
	</div>

</body>
</html>