<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>OAuth2 Demo</title>

<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
<!-- <meta name="description" content="" /> -->
<!-- <meta name="viewport" content="width=device-width" /> -->
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<base href="/" />
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/index.css}" />
<script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
<script type="text/javascript">
	angular.module("app", []).controller("home", function($http) {
		var self = this;
		$http.get("/user").success(function(data) {
			self.user = data.userAuthentication.details.name;
			self.authenticated = true;
		}).error(function() {
			self.user = "N/A";
			self.authenticated = false;
		});
		self.logout = function() {
			$http.post('/logout', {}).success(function() {
				self.authenticated = false;
				$location.path("/");
			}).error(function(data) {
				console.log("Logout failed")
				self.authenticated = false;
			});
		};
	});
</script>
</head>
<body ng-app="app" ng-controller="home as home">
	<div class="container logosdiv" ng-show="!home.authenticated">
		<a th:href="@{/login/google}" 	><img th:src="@{/img/google.png}" 			/></a> <br />
		<a th:href="@{/login/facebook}" 	><img th:src="@{/img/facebook.png}" 	/></a> <br />
		<a th:href="@{/login/github}" 	><img th:src="@{/img/github.png}" 	/></a>
	</div>
	<div class="container logosdiv" ng-show="home.authenticated">
		Logged in as: <span ng-bind="home.user"> </span>
		<div th:if="${email != null}">
			<span>Email:
				<div th:text="${email}"></div>
			</span>
		</div>
		<div>
			<button ng-click="home.logout()" class="btn btn-primary">Logout</button>
		</div>
	</div>
</body>
</html>